
head {
    display: none;
}
body.login {
    background: #fbfbfb;
    min-width: 0;
}
body, #wpbody, .form-table .pre, .ui-autocomplete li a {
    color: #333;
}

body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    min-width: 600px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 8px;
}

#login {
    width: 320px;
    padding: 114px 0 0;
    margin: auto;
}
.login * {
    margin: 0;
    padding: 0;
}

a, input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="email"], input[type="url"], select, textarea, div {
    outline: 0;
}
div {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}
h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
}

.login h1 a {
    background-image: url(../img/wordpress-logo.png?ver=20120216);
    background-size: 274px 63px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 326px;
    height: 67px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    padding-bottom: 15px;
    display: block;
}
div.error, .login #login_error {
    background-color: #ffebe8;
    border-color: #c00;
}

strong, b {
    font-weight: bold;
}

a, #adminmenu a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, #media-items a.delete-permanently, .plugins a.delete, .ui-tabs-nav a {
    color: #21759b;
}
a, input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="email"], input[type="url"], select, textarea, div {
    outline: 0;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
#login_error, .login .message {
    margin: 0 0 16px 8px;
    padding: 12px;
}
.login form {
    margin-left: 8px;
    padding: 26px 24px 46px;
    font-weight: normal;
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

.login label {
    color: #777;
    font-size: 14px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
label, #your-profile label+a {
    vertical-align: middle;
}

.login form .forgetmenot {
    font-weight: normal;
    float: left;
    margin-bottom: 0;
}

#login form p.submit {
    padding: 0;
}

.submit, #commentsdiv #add-new-comment {
    border-color: #dfdfdf;
}
input[type="checkbox"], input[type="radio"] {
    vertical-align: text-top;
    padding: 0;
    margin: 1px 0 0;
}

input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}
input[type="checkbox"] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

.submit {
    padding: 1.5em 0;
    margin: 5px 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.wp-core-ui .button.button-large, .wp-core-ui .button-group.button-large .button {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
}
.wp-core-ui .button-primary {
    background-color: #21759b;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
    background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
    background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
    background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
    background-image: -o-linear-gradient(top,#2a95c5,#21759b);
    background-image: linear-gradient(to bottom,#2a95c5,#21759b);
    border-color: #21759b;
    border-bottom-color: #1e6a8d;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    background: #f3f3f3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
    background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);
    background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #fff;
}
.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    line-height: 23px;
    height: 24px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.login .button-primary {
    float: right;
}

.login #nav, .login #backtoblog {
    text-shadow: #fff 0 1px 0;
    margin: 0 0 0 16px;
    padding: 16px 16px 0;
}

.login #nav, .login #backtoblog {
    text-shadow: #fff 0 1px 0;
    margin: 0 0 0 16px;
    padding: 16px 16px 0;
}

#backtoblog {
    padding: 12px 16px 0;
}

.clear {
    clear: both;
}

.login form .input, .login input[type="text"] {
    color: #555;
    font-weight: 200;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

h2 .nav-tab, .wrap h2, .subtitle, .login form .input {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}